<!DOCTYPE html>

<html>
<head>
  <title>Traffalert</title>
  <!--<link rel="stylesheet" type="text/css" href="signup.css" />-->
</head>
<body>
    <h1>Traffalert</h1>
    <form method="post">
        <label>Start
          <input name="start" type="text" value="{{start}}">
        </label>{{start_error}}
        <br>
        <label>End
          <input name="end" type="text" value="{{end}}">
          </label>{{end_error}}
        <br>
        <label>Days
          {% for day in ['SU', 'MO', 'TU', 'WE', 'TH', 'FR', 'SA'] %}
            {% if day in days %}
              <input type="checkbox" name="days" value="{{day}}" checked/>{{day[0]}}
              {% else %}
                <input type="checkbox" name="days" value="{{day}}" />{{day[0]}}
            {% endif %}
          {% endfor %}
        </label>{{days_error}}
        <br>
        <label>Time
          <input name="hour" type="text" size="1" value="{{hour}}">:
          <input name="minute" type="text" size="1" value="{{minute}}">
        </label>{{time_error}}
        <br>
        <input type="submit" />
    </form>
</body>
</html>
